/* change-habit-container */
.change-habit-container{
    width: 90%;
    margin: 0 auto;
    color: var(--primary-font-color);
}
.habit-content{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.habit-content h1{
   font-size: 3rem;
   font-weight: bold;
   margin-bottom: 2rem;
}
.change-habit-container p{
    color: var( --pragraph-color);
    font-size: 0.875rem;
    font-weight: 400;
}
.change-habit-container .habit-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 2rem;
    margin: 2.75rem 0rem;
    text-align: center;
}
.change-habit-container .habit-card h1{
    font-size: 1.18rem;
    font-weight: 600;
    margin: 20px 0px;
}
.change-habit-container .habit-card img{
border-radius: 100%;
}
/* run extra container */
.run-extra-container{
    color: var(--primary-font-color);
    width: 90%;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    background-color: #222222;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.run-extra-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.run-content{
    width: 46%;
    margin-left: 1rem;
}
.run-content h1{
    font-size: 3rem;
    font-weight: bolder;
}
.run-content p{
    color: var(--pragraph-color);
    margin: 1rem 0rem;
    font-size: 0.875rem;
    font-weight: 400;
}
.run-content .btn{
    padding: 15px 50px;
    border-radius: 30px;
}
 .run-image{
    width: 54%;
}
.run-image img{
    width: 100%;
    border-radius: 30px;
}
/* bmi-calc-container */
.bmi-calc-container{
    color: var(--primary-font-color);
    margin: 50px 0px;
    background-color: #222222;
}
#calculator{
 display: flex;
 justify-content: center;
 align-items: center;
}
.calc-details{
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    gap: 10px;
    margin: 20px 0px;
    /* width: 50%; */
}
.input-value{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.bmi-calc-container input::placeholder{
     color: #b0b0b0;
}
.bmi-calc-container input{
    padding: 10px 10px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #393939;
    color: #b0b0b0;
    font-size: 1.3rem;
}
.bmi-calc-container select{
    padding: 10px 10px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #393939;
    color: #b0b0b0;
    font-size: 1.3rem;
}
.caclulator-caption{
    text-align: center;
    width: 50%;
    margin: 2rem auto;
}
.caclulator-caption h1{
    font-size: 3rem;
    font-weight: bolder;
}
.caclulator-caption p{
    font-size: 1rem;
    font-weight: bolder;
    color: var(--pragraph-color);
    font-weight: 400;
    padding-top: 1.2rem;
}
.chart-calculator{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0px;
    gap: 50px;
}
.calc-description{
    margin-bottom: 2rem;
}
.calc-description h1{
   font-size: 1.8rem;
}
.calc-description p{
   font-size: 0.8rem;
   color: var(--pragraph-color);
   margin-top: 1rem;
}
.chart{
    width: 50%;
}
table{
    border-collapse: collapse;
}
thead{
    text-align: left;
    font-size: 1rem;
}
td, th{
    border:1px solid #393939;
    border-collapse: collapse;
    padding: 10px 20px;
}
td{
    color: #919191;
    font-size: 0.90rem;
}
.bmi-calc-container .btn{
    padding: 15px 60px;
    border-radius: 30px;
}
/* ENd BMI calc container */
.mee-team-container{
    color: var(--primary-font-color);
    width: 90%;
    margin: 2rem auto;
}
.mee-team-container p{
    color: var(--pragraph-color);
    font-size: 0.8rem;
}
.mee-team-container .caption{
    width: 50%;
    margin: 3rem auto;
    text-align: center;
}
.mee-team-container .caption h1{
    color: var(--primary-font-color);
    font-size: 3rem;
    font-weight: bolder;
}
.mee-team-container .caption p{
   margin-top: 1rem;
}
.mee-team-container .trainer-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #222222;
    padding: 15px;
    border-radius: 10px;

}
.mee-team-container .trainer-card{
position: relative;
}
.mee-team-container .trainer-card .name-position{
    position: absolute;
    top: 80%;
    left: 3%;
    backdrop-filter:contrast(1); 
}
.mee-team-container img{
    width: 100%;
    height: 272px;
    border-radius: 10px;
}
/* why-chose-container */
.why-chose-container .caption{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: white;
    position: relative;
}
.why-chose-container .caption h1{
    color: var(--primary-font-color);
    font-size: 3rem;
    font-weight: bolder;
}
.why-chose-container .caption p{
    color: var(--primary-font-color);
    font-size: 1rem;
    font-weight: 600;
    color: #e6533c;
    position: relative;
}

.why-chose-container .caption .line-1{
    position: absolute;
    background-color: #e6533c;
    width: 80px;
    height: 2px;
    bottom: 91%;
    left: 27%;
}
.why-chose-container .caption .line-2{
    position: absolute;
    background-color: #e6533c;
    width: 80px;
    height: 2px;
    bottom: 91%;
    left: 61%;
}
.chose-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 2rem;
    margin: 2rem 0rem;
    padding: 2rem; 
}

.chose-card img{
    width: 100%;
    border-radius: 8px;
}
.card-description{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.why-chose-container .card-content h1{
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}
.why-chose-container .card-content p{
    font-size: 1rem;
    color: var(--pragraph-color);
}
.dumbles{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 1rem;
    font-weight: 600;
}
.why-chose-container .dumble{
    display: flex;
    align-items: center;
    gap: 10px;
}
.why-chose-container i{
color: #e6533c;
rotate: -45deg;
font-size: 1.7rem;
}
.why-chose-container .button{
    display: flex;
    gap: 0.8rem;
}
.why-chose-container .btn, .btn2{
    padding: 10px 30px;
    border-radius: 3rem;
}
.why-chose-container .btn2{
    outline: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    background: transparent;
    border: 1px solid white;
}
.why-chose-container .btn2:hover{
    background-color: #e6533c;
    border: none;
    transition: 0.5s;
}
/*End style why chose container */
/* Footer container */
footer{
    background-color: #393939;
}
.footer-container{
    width: 90%;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
     padding: 20px 0px;
}
.footer-content{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.footer-container .description{
    width: 33%;
}
.footer-container .description h1{
    color: #e6533c;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.footer-container .description p{
    color:var(--pragraph-color);
    font-size: 1rem;
    font-weight:600;
}
.footer-content .get h2{
    font-size: 32px;
    font-weight: bold;
}
.footer-content .get ul{
    list-style: none;
    margin-top: 1.5rem;
}
.footer-content .get ul>li{
color: var(--pragraph-color);
margin-top: 1rem;
}
.footer-container hr{
    border: 1px solid #393939;
}
.footer-container .copyright{
    text-align: center;
    color: #8d8d8d;
    font-size: 20px;
    font-weight: 600;
}