@media screen and (min-width: 578px) and (max-width: 992px) {  
    /* Change Habit Container */  
    .change-habit-container {  
        width: calc(100% - 20px);  
    }  

    .change-habit-container .habit-cards {  
        grid-template-columns: repeat(2, 1fr);  
    }  

    /* Run Extra Container */  
    .run-extra-container {  
        width: calc(100% - 20%);  
        margin: 20px auto;  
    }  

    .habit-content {  
        text-align: center;  
        width: 100%;  
        margin: 10px auto;  
    }  

    .run-content {  
        margin-left: 1rem;  
    }
    .run-image img {  
        height: 319px;
    }  

    .run-content h1 {  
        font-size: 2rem;  
    }  

    /* Calculator */  
    .caclulator-caption {  
        width: 100%;  
    }  
    #calculator {  
        margin: 0 auto;  
    }  

    .chart-calculator {  
        width: calc(100% - 30px);   
        flex-direction: column;  
    }  

    .chart {  
        width: 100%;  
    }  

    table {  
        width: 72%;  
    }  

    .bmi-calc-container input .select-one {  
        width: 100px;  
    }  

    .bmi-calc-container input {  
        width: calc(100% - 21px);  
    }  

    select {  
        width: 100%;  
    }  

    /* Meet Team Container */  
    .mee-team-container .caption {  
        width: 100%;  
    }  

    .mee-team-container .trainer-card .name-position {  
        position: absolute;  
        top: 74%;  
        left: 3%;  
        backdrop-filter: contrast(1);  
    }  

    /* Why Choose Container */  
    .why-chose-container .caption {  
        width: 100%;  
    }  

    .chose-card {  
        flex-direction: column;  
    }  

    .why-chose-container .caption .line-1 {  
        bottom: 92%;  
        left: 23%;  
    }  

    .why-chose-container .caption .line-2 {  
        bottom: 92%;  
        left: 62%;  
    }  

    /* Footer Container */  
    .footer-content {  
        flex-direction: column;  
        align-items: flex-start;  
    }  

    .footer-container .description {  
        width: 100%;  
    }  
}  

@media screen and (max-width: 577px) {  
    /* Change Habit Container */  
    .change-habit-container {  
        width: calc(100% - 20px);  
    }  

    .habit-content {  
        text-align: center;  
        width: 90%;  
        margin: 1rem auto;  
    }  

    .change-habit-container .habit-cards {  
        grid-template-columns: 1fr;  
        width: 70%;  
        margin: 0 auto;  
    }  

    /* Run Extra Container */  
    .run-extra-container {  
        width: calc(100% - 20%);  
        margin: 20px auto;  
    }  

    .run-extra-card {  
        flex-direction: column;  
    }  

    .run-content {  
        width: 100%;  
        margin-left: 0rem;  
    }  

    .run-content h1 {  
        font-size: 2rem;  
        font-weight: bolder;  
    }  

    .run-image {  
        width: 100%;  
    }  

    .run-image img {  
        width: 100%;
        height: auto;  
    }  

    .run-content .btn {  
        padding: 15px 50px;  
        border-radius: 30px;  
        width: 100%;  
    }  

    /* Calculator Container */  
    .caclulator-caption {  
        width: 100%;  
    }  

    #calculator {  
        margin: 0 auto;  
    }  

    .chart-calculator {  
        width: calc(100% - 30px);  
        flex-direction: column;  
    }  

    .chart {  
        width: 100%;  
    }  

    table {  
        width: 80%;  
    }  

    td, th {  
        padding: 10px 7px;  
    }  

    /* Container */  
    .bmi-calc-container input .select-one {  
        width: 100px;  
    }  

    input {  
        width: calc(100% - 21px);  
    }  

    select {  
        width: 100%;  
    }  

    .caclulator-caption h1 {  
        font-size: 2rem;  
        font-weight: bolder;  
    }  

    /* Meet Team Container */  
    .mee-team-container .trainer-cards {  
        grid-template-columns: 1fr;  
    }  

    .mee-team-container .caption {  
        width: 100%;  
    }  

    .mee-team-container .caption h1 {  
        font-size: 2rem;  
    }  

    /* Why Choose Container */  
    .why-chose-container .caption {  
        width: 100%;  
    }  

    .why-chose-container .caption h1 {  
        font-size: 2rem;  
    }  

    .why-chose-container .card-content p {  
        font-size: 10px;  
    }  

    .dumbles {  
        font-size: 1rem;  
        font-weight: 600;  
    }  

    .chose-card {  
        flex-direction: column;  
    }  

    .why-chose-container .card-content h1 {  
        font-size: 1.6rem;  
    }  

    .why-chose-container .caption .line-1 {  
        display: none;  
    }  

    .why-chose-container .caption .line-2 {  
        display: none;  
    }  

    /* Footer */  
    .footer-content {  
        flex-direction: column;  
        align-items: flex-start;  
    }  

    .footer-container .description {  
        width: 100%;  
    }  
}