/* nav-section */

/* large device */
@media  screen and (max-width:992px) {
    .nav-section{
       width:100%;
       gap:42px;
    }
    .nav-section .menu-icon{
        display:none;
    }
}
/* small device */
@media screen and (max-width:576px){  
    .nav-section{  
        flex-direction: row;  
        /* width: calc(100% - 30px); */  
    }  
    .menu{  
        display: none;  
    }
    .nav-section .logo{
       font-size: 30px;
    }  
    .nav-section .menu-icon{  
        display: block;  
        color: white;  
        font-size: 34px;  
    }  
    .banner-container {
        flex-direction: column;
        width: 100%;
    }
    .banner-container .banner-content{
        width: 100%;
    }
    .banner-container .banner-content h1 {
    font-size: 36px;
    font-weight: bold;
    }
    .banner-img .workout-video{
        top: 18%;
        left: 54%;
    }
    .banner-img .vedio-tutorial {
        top: 46%;
        left: 0%;
    }
}