/* nav-section */

/* medium device */
@media  screen  and (max-width:992px) {
    .btn{
    padding: 10px 20px;
    font-size: 16px;
}
    .nav-section{
        width: calc(100% - 1.125rem);
        gap: 0.875rem;
        align-items: center;
    }
    .nav-section .menu-icon{
        display:none;
    }
    .menu ul{
        gap:0.625rem;
    }
    .banner-container {
        flex-direction: column;
      width: calc(100% - 13.125rem);
       align-items: center;
    }
    .banner-container .banner-content{
        width: 100%;
    }
    .banner-container .banner-content h1 {
    font-size: 2.875rem;
    font-weight: bold;
    }
    .banner-img .workout-video{
        width: 50%;
        top: 18%;
        left: 54%;
    }
    .banner-img .vedio-tutorial {
        top: 46%;
        left: 0%;
    }
}
/* small device */
@media screen and (max-width:576px){  
    .nav-section{  
        flex-direction: row;  
        /* width: calc(100% - 30px); */  
    }  
    .menu{  
        display: none;  
    }
    .nav-section .logo{
       font-size: 1.875rem;
    }  
    .nav-section .menu-icon{  
        display: block;  
        color: white;  
        font-size: 2.125rem;  
    }  
    .banner-container {
        flex-direction: column;
        width: calc(100% - 1.25rem);
    }
    .banner-container .banner-content{
        width: 100%;
    }
    .banner-container .banner-content h1 {
    font-size: 2.25rem;
    font-weight: bold;
    }
    .banner-img .workout-video{
        top: 18%;
        left: 54%;
    }
    .banner-img .vedio-tutorial {
        top: 46%;
        left: 0%;
    }
    
}